---
import Voting from '../components/Voting';
import MainLayout from '../layouts/MainLayout.astro';
import { getDomainUrl } from '../utils/utils';

const { request } = Astro;

const domain = getDomainUrl(request);
---

<MainLayout title="Pokemon Smash/Pass">
  <main
    class="flex justify-center items-center flex-auto self-center place-self-center justify-self-center"
  >
    <Voting domain={domain} client:only />
  </main>
</MainLayout>
