---
import { getDomainUrl } from '../utils/utils';
import MainLayout from '../layouts/MainLayout.astro';

const { request } = Astro;

const ranking = await fetch(`${getDomainUrl(request)}/ranking.json`, {
  method: 'GET',
});

const {
  data: { rows },
} = await ranking.json();
---

<MainLayout title="Ranking">
  <div class="mb-4 flex flex-auto">
    <table class="w-full">
      <tbody class="flex flex-col px-12">
        {
          rows.map(
            (
              row: { pokemon_id: string; votes_percentage: string },
              index: number,
            ): Element => (
              <tr class="relative flex items-center justify-between border-x border-t border-white last-of-type:border-b">
                <td class="absolute top-0 rounded-br-md bg-gray-900 px-2 text-center  text-white">
                  <p>{index + 1}</p>
                </td>
                <td>
                  <img
                    src={`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${
                      row.pokemon_id + 1
                    }.png`}
                    alt="pokemon_img"
                    height="150"
                    width="150"
                    style={{ imageRendering: 'pixelated' }}
                  />
                </td>

                <td class="mr-10 text-2xl text-white">
                  {Math.floor(
                    (parseFloat(row.votes_percentage) + Number.EPSILON) * 100,
                  ) / 100}
                  %
                </td>
              </tr>
            ),
          )
        }
      </tbody>
    </table>
  </div>
</MainLayout>
