<ul class="flex justify-center gap-10 p-4">
  <a href="/">
    <li class="text-xl text-white hover:cursor-pointer">Voting</li>
  </a>

  <li class="border border-white rounded-full"></li>

  <a href="/ranking">
    <li class="text-xl text-white hover:cursor-pointer">Ranking</li>
  </a>
</ul>
